body {
    overflow: hidden;
}

#target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    font-size: 2vh;
    text-shadow: 0.2vh 0.2vh 0.2vh #000000;
}

#target-label-wrapper {
    position: absolute;
    top: calc(50% + 2vh);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
}

#target-label {
    list-style: none;
    font-size: 1.2vh;
    font-family: Teachers, sans-serif;
    color: #77deb9;
    user-select: none;
    white-space: nowrap;
}
